Package: com.opa334.altlist
Name: AltList
Version: 1.0.5
Architecture: iphoneos-arm
Depends: firmware (>=7.0)
Description: A modern AppList alternative
Maintainer: opa334
Author: opa334
Section: System
Tag: role::developer
