<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AltListTestPreferences First Page</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 1</string>
			<key>detail</key>
			<string>ATLApplicationListControllerBase</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 2</string>
			<key>detail</key>
			<string>ATLApplicationListSelectionController</string>
			<key>key</key>
			<string>selectedApplicationFromTest2</string>
			<key>cellClass</key>
			<string>ATLApplicationSelectionCell</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>useSearchBar</key>
			<true/>
			<key>hideSearchBarWhileScrolling</key>
			<true/>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>includeIdentifiersInSearch</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 2.1</string>
			<key>detail</key>
			<string>ATLApplicationListSelectionController</string>
			<key>key</key>
			<string>selectedApplicationFromTest2</string>
			<key>cellClass</key>
			<string>ATLApplicationSelectionCell</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>useSearchBar</key>
			<true/>
			<key>hideSearchBarWhileScrolling</key>
			<true/>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>includeIdentifiersInSearch</key>
			<true/>
			<key>highlightSearchText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 3</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplicationsFromTest3</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<false/>
			<key>defaultApplicationSwitchValue</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 4</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplicationsFromTest3</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 5</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplicationsFromTest3</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>All</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 6</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplicationsFromTest3</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 7</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplicationsFromTest3</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>alphabeticIndexingEnabled</key>
			<true/>
			<key>hideAlphabeticSectionHeaders</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Test 7.5</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplicationsFromTest3</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>alphabeticIndexingEnabled</key>
			<true/>
			<key>hideAlphabeticSectionHeaders</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.altlisttestpreferences</string>
			<key>label</key>
			<string>Custom Type + Localization</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplicationsFromTest3</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Custom</string>
					<key>sectionName</key>
					<string>Supports Multiple Windows</string>
					<key>sectionPredicate</key>
					<string>supportsMultiwindow == YES</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Custom</string>
					<key>sectionName</key>
					<string>Supports Multiple Windows</string>
					<key>sectionPredicate</key>
					<string>supportsMultiwindow == NO</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>localizationBundlePath</key>
			<string>/Library/Application Support/AltListTest.bundle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Test 8</string>
			<key>detail</key>
			<string>ATLApplicationListSubcontrollerController</string>
			<key>sections</key>
			<array>
			<dict>
				<key>sectionType</key>
				<string>Visible</string>
			</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
			<key>alphabeticIndexingEnabled</key>
			<true/>
			<key>hideAlphabeticSectionHeaders</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>AltListTestPreferences</string>
</dict>
</plist>
